body {
      scroll-behavior: smooth;
    }

section {
    padding-top: 4rem ;
}

.jumbotron  {
    padding-top: 5rem ;
    background-color: #acd0ff;
}

.kegiatan {
    background-color: #acd0ff;
}

